node_modules
dist
tags
todos.*
*.txt
.env
.env.prod
.env.staging
e.yml
docker-compose-prod.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml



# yarn
yarn-error.log

.DS_STORE