node_modules
frontend/node_modules
frontend/.dockerignore
frontend/package-lock.json
package-lock.json
frontend/.env
tags
*.md
todos.*
*.txt
.env
.env.prod
e.yml
docker-compose-prod.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
